/* utility */

:root{
    --orange: #F66902;
    --red: #F50003;
    --green: #238000;
    --black: #1A1A1A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* header start */


.nav-container{
    width: 100%;
    background-color:var(--orange);
    height: 60px;
    position: fixed;
    top: 0;
    padding-top: 15px;
    box-shadow: 0px 2px 11px -4px #000000;
    z-index: 10;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    width: 100px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    /* min-width: 800px; */
    padding-inline-end: 10px;
    text-decoration: none;
}

.flexnav{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

/* header end */

/* main start */

.central{
    
    margin: 100px auto;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    padding-left: 30px;
}

.card{
    width: calc(100% / 3);
    height: 600px;
    position: relative;
    cursor: pointer;
}

.modelli {
    width: 90%;
    
}

/* tipografia */


h2{
    font-size: 12px;
    color: grey;
}

h3{
    font-size: 12px;
    text-transform: uppercase;
}

h4{
    font-size: 12px;
    color: var(--red);
}

.saldi{
    color: grey;
    text-decoration: line-through;
}

.green{
    background-color: var(--green);
    color: white;
    position: absolute;
    padding: 2px;
    right: 66.5%;
    bottom: 20%;
}

.red{
    background-color: var(--red);
    color: white;
    position: absolute;
    padding: 2px;
    right: 88.5%;
    bottom: 20%;

}

.heart{
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    background-color: white;
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    top: 2%;
    right: 10%;
}

.heart:hover{
    color: var(--red);
}


.hidden{
    width: 90%;
    display: none;
}

.card:hover .hidden{
    display: block;
}

.card:hover .modelli{
    display: none;
}

/* footer */

.foot-container{
    background-color: var(--black);
    width: 100%;
    height: 150px;
    vertical-align: middle;
    padding: 40px 100px;
    margin: 0 auto;

}

.flexfoot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

h5{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

footer nav  ul li a {
    color: white;
    padding-inline-end: 10px;
    text-decoration: none;
    font-size: 14px;
}

.fa-brands{
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
}

